<extend name="Common/base"/>
<block name="content">
    <div class="row">
        <div class="col-sm-7 infobox-container">
            <div class="infobox infobox-green">
                <div class="infobox-icon"><span class="glyphicon glyphicon-file"></span></div>
                <div class="infobox-data">
                    <span class="infobox-data-number">3</span>
                    <div class="infobox-content">单页模型</div>
                </div>
            </div>
            <div class="infobox infobox-blue">
                <div class="infobox-icon"><span class="glyphicon glyphicon-list-alt"></span></div>
                <div class="infobox-data">
                    <span class="infobox-data-number">32</span>
                    <div class="infobox-content">文章模型</div>
                </div>
            </div>
            <div class="infobox infobox-pink">
                <div class="infobox-icon"><span class="glyphicon glyphicon-gift"></span></div>
                <div class="infobox-data">
                    <span class="infobox-data-number">17</span>
                    <div class="infobox-content">产品模型</div>
                </div>
            </div>
            <div class="infobox infobox-red">
                <div class="infobox-icon"><span class="glyphicon glyphicon-picture"></span></div>
                <div class="infobox-data">
                    <span class="infobox-data-number">56</span>
                    <div class="infobox-content">图片模型</div>
                </div>
            </div>
            <div class="infobox infobox-orange">
                <div class="infobox-icon"><span class="glyphicon glyphicon-download-alt"></span></div>
                <div class="infobox-data">
                    <span class="infobox-data-number">44</span>
                    <div class="infobox-content">下载模型</div>
                </div>
            </div>
            <div class="infobox infobox-grey">
                <div class="infobox-icon"><span class="glyphicon glyphicon-info-sign"></span></div>
                <div class="infobox-data">
                    <span class="infobox-data-number">89</span>
                    <div class="infobox-content">信息反馈</div>
                </div>
            </div>
            <div class="infobox infobox-purple">
                <div class="infobox-icon"><span class="glyphicon glyphicon-comment"></span></div>
                <div class="infobox-data">
                    <span class="infobox-data-number">289</span>
                    <div class="infobox-content">评论留言</div>
                </div>
            </div>
            <div class="infobox infobox-orange2">
                <div class="infobox-icon"><span class="glyphicon glyphicon-user"></span></div>
                <div class="infobox-data">
                    <span class="infobox-data-number">289</span>
                    <div class="infobox-content">注册会员</div>
                </div>
            </div>
            <div class="infobox infobox-blue3">
                <div class="infobox-icon"><span class="glyphicon glyphicon-list"></span></div>
                <div class="infobox-data">
                    <span class="infobox-data-number">45</span>
                    <div class="infobox-content">栏目总数</div>
                </div>
            </div>
        </div>
    </div>
</block>