<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ITskyCMS</title>
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
{js href="__PUBLIC__/js/jquery.min.js"/}
<script type="text/javascript">
    var ThinkPHP = {
        'ROOT' : '__ROOT__',    //网站根目录地址
        'APP' : '__APP__',  //当前应用（入口文件）地址
        'SELF' : '__SELF__',    //当前URL地址
        'PUBLIC' : '__PUBLIC__',    //项目公共目录地址
        'MODULE' : '{$Think.MODULE_NAME}',  //当前模块名
        'CONTROLLER' : '{$Think.CONTROLLER_NAME}',  //当前控制器名
        'ACTION' : '{$Think.ACTION_NAME}'   //当前操作名
    };
</script>
</head>
<body id="{$Think.CONTROLLER_NAME}_{$Think.ACTION_NAME}">
    <a href="{$home}">首页</a>
    <div>Home</div>
</body>
</html>
