<div class="col-lg-12">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#home" data-toggle="tab">
                    <span class="glyphicon glyphicon-cog"></span> {:L('BASE_SET')}
                </a>
            </li>
            <li>
                <a href="#seo" data-toggle="tab">
                    <span class="glyphicon glyphicon-eye-open"></span> {:L('SEO_SET')}
                </a>
            </li>
        </ul>
        <form class="form-horizontal" role="form" autocomplete="off">
            <div class="tab-content">
                <div id="home" class="tab-pane in active">
                    <div class="form-group">
                        <label class="col-lg-2 control-label no-padding-right">{:L('SELECT_MODULE')}:</label>
                        <div class="col-lg-5">
                            <div class="input-group col-lg-8 select-click">
                            <input id="field_type" class="hide" type="text" name="type" value="page"/>
                            <div class="form-control select-input cude"></div>
                            <span class="input-group-addon cude">
                                <i class="glyphicon glyphicon-menu-down"></i>
                            </span>
                        </div>
                        <div class="col-lg-8">
                            <div class="select-choices">
                                <ul class="list-unstyled select-option" data-name="type">
                                    <li data-val="">{:L('SELECT_FIELD_TYPE')}</li>
                                    <li data-val="page">page_{:L('SELECT_FIELD_TYPE')}</li>
                                    <li data-val="dfe">{:L('SELECT_FIELD_TYPE')}</li>
                                    <li data-val="eg">{:L('SELECT_FIELD_TYPE')}</li>
                                    <li data-val="ww">{:L('SELECT_FIELD_TYPE')}</li>
                                    <li data-val="egs">{:L('SELECT_FIELD_TYPE')}</li>
                                </ul>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div id="seo" class="tab-pane">
                    seo
                </div>
            </div>
        </form>
    </div>
</div>
<import type="js" file="js.select"/>
<script type="text/javascript">
    var pan = '<li><a onclick="load(event,this)" href="{:U(CONTROLLER_NAME.'/index',$vl)}">{:L('M_'.$Think.CONTROLLER_NAME.'_INDEX')}</a></li>\n\
<li class="active">{:L($Think.ACTION_NAME)}</li>';
    $('#breadcrumbs .breadcrumb li:gt(0)').remove();
    $('#breadcrumbs .breadcrumb').append(pan);
    $('.page-header h1').empty();
    $('.page-header h1').append('{:L('M_'.$Think.CONTROLLER_NAME.'_INDEX')}<small class="glyphicon glyphicon-menu-right"> {:L($Think.ACTION_NAME)}</small>');
</script>