<!DOCTYPE html>
<html lang="{:LANG_SET}">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{:L('PRO_NAME')}-{:L('BACKER_MANAGE')}</title>
<link rel="shortcut icon" href="/favicon.ico?t={:time()}" type="image/x-icon" />
<!--[if lt IE 9]>
<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<block name="cssjs">
<link rel="stylesheet" type="text/css" href="http://cdn.oschina.mopaas.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="http://cdn.oschina.mopaas.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
<import type="css" file="css.ace#min"/>
<import type="css" file="css.ace-rtl#min"/>
<import type="css" file="css.ace-skins#min"/>
<import type="css" file="validator.jquery#validator"/>
<import type="css" file="scrollator.fm#scrollator#jquery"/>
<import type="css" file="css.admin_all"/>
<script type="text/javascript" src="http://cdn.oschina.mopaas.com/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="{:U('Public/langjs',$vl)}"></script>
<script type="text/javascript" src="http://cdn.oschina.mopaas.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/bootbox.js/4.3.0/bootbox.min.js"></script>
<script type="text/javascript" src="http://cdn.staticfile.org/datatables/1.10.1/js/jquery.dataTables.min.js"></script>
<import type="js" file="js.ace#min"/>
<import type="js" file="js.ace-elements#min"/>
<import type="js" file="js.ace-extra#min"/>
<import type="js" file="validator.jquery#validator"/>
<import type="js" file="validator.local.{:LANG_SET}"/>
<import type="js" file="scrollator.fm#scrollator#jquery"/>
<import type="js" file="js.admin_all"/>
<script type="text/javascript">
    var lang = '{$Think.cookie.think_language|lang}';
    bootbox.setDefaults("locale", lang);
</script>
</block>
</head>
<body id="{$Think.CONTROLLER_NAME}_{$Think.ACTION_NAME}">
<block name="body">
<block name="top">
<div class="navbar navbar-default" id="navbar">
    <script type="text/javascript">
        try{ace.settings.check('navbar' , 'fixed');}catch(e){}
    </script>
    <div id="navbar-container" class="navbar-container">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="{:U('Index/index',$vl)}">
                <small><span class="glyphicon glyphicon-leaf"></span> {:L('PRO_NAME')}{:L('BACKER_MANAGE')}</small>
            </a>
        </div>
        <a class="pull-left badge badge-grey ml10 mt4 w60 p5-4" href="/" target="_blank">
            <span class="glyphicon glyphicon-home bigger-200"></span>
        </a>
        <div class="navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="light-blue">
                    <a class="dropdown-toggle" href="javascript:;" data-toggle="dropdown">
                        <img class="nav-user-photo" alt="Jason's Photo" src="__PUBLIC__/img/avatars/user.jpg"/>
                        <span class="user-info">
                            <small>{:L('WELCOME')},</small>{$Think.session.uname}
                        </span>
                        <span class="glyphicon glyphicon-triangle-bottom f12"></span>
                    </a>
                    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <foreach name="indexchild" item="vo">
                        <li>
                            <a class="tarmain" href="{:U($vo['model'].'/'.$vo['action'],$vl)}">
                                <span class="{$vo.icon}"></span>{:L($vo['name'])}
                            </a>
                        </li>
                        </foreach>
                        <li class="divider"></li>
                        <li>
                            <a href="{:U('Public/logout',$vl)}">
                                <span class="glyphicon glyphicon-off"></span>{:L('LOGOUT')}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <if condition="$mlang">
        <div class="btn-group pull-right mr10">
            <button class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                {:L('CHANGE_LANG')}:<span class="lang-qie">{$tlang.name}</span> <span class="glyphicon glyphicon-triangle-bottom f12"></span>
            </button>
            <ul class="dropdown-menu dropdown-success">
                <foreach name="mlang" item="vo">
                <li><a href="{:urlh(C('VAR_LANGUAGE').'='.$vo['value'])}">{$vo.name}</a></li>
                </foreach>
            </ul>
        </div>
        </if>
    </div>
</div>
</block>
<div id="main-container" class="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed');}catch(e){}
    </script>
    <div class="main-container-inner">
        <a id="menu-toggler" class="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>
        <div id="sidebar" class="sidebar">
            <script type="text/javascript">
                try{ace.settings.check('sidebar' , 'fixed');}catch(e){}
            </script>
            <div id="sidebar-shortcuts" class="sidebar-shortcuts">
                <div id="sidebar-shortcuts-large" class="sidebar-shortcuts-large">
                    <button class="btn btn-success">
                        <span class="glyphicon glyphicon-signal"></span>
                    </button>
                    <button class="btn btn-info">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="btn btn-warning">
                        <span class="glyphicon glyphicon-tower"></span>
                    </button>
                    <button class="btn btn-danger">
                        <span class="glyphicon glyphicon-cog"></span>
                    </button>
                </div>
                <div id="sidebar-shortcuts-mini" class="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>
                    <span class="btn btn-info"></span>
                    <span class="btn btn-warning"></span>
                    <span class="btn btn-danger"></span>
                </div>
            </div>
            {$list}
            <div id="sidebar-collapse" class="sidebar-collapse">
                <span class="glyphicon glyphicon-backward" data-icon2="glyphicon glyphicon-forward" data-icon1="glyphicon glyphicon-backward"></span>
            </div>
            <script type="text/javascript">
                try{ace.settings.check('sidebar' , 'collapsed');}catch(e){}
            </script>
        </div>
        <div class="main-content">
            <div id="breadcrumbs" class="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed');}catch(e){}
                </script>
                <ul class="breadcrumb">
                    <li>
                        <span class="glyphicon glyphicon-home"></span>
                        <a href="{:U('Index/index',$vl)}">{:L('HOME_INDEX')}</a>
                    </li>
                    <li class="active">{:L('M_INDEX_INDEX')}</li>
                </ul>
            </div>
            <div class="page-content">
                <div class="page-header">
                    <h1>{:L('M_INDEX_INDEX')}<small class="glyphicon glyphicon-menu-right"> {:L('MENU_LOOK')}</small></h1>
                </div>
                <div class="row">
                    <div id="new_content" class="col-xs-12">
                        <block name="content"></block>
                    </div>
                </div>
            </div>
        </div>
        <div id="ace-settings-container" class="ace-settings-container">
            <div id="ace-settings-btn" class="btn btn-app btn-xs btn-warning ace-settings-btn">
                <span class="glyphicon glyphicon-cog bigger-150"></span>
            </div>
            <div id="ace-settings-box" class="ace-settings-box">
                <div>
                    <div class="pull-left">
                        <select id="skin-colorpicker" class="hide">
                            <option data-skin="default" value="#438EB9">#438EB9</option>
                            <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                            <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                            <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                        </select>
                    </div>
                    <span>&ensp;{:L('SELECT_SKIN')}</span>
                </div>
                <div>
                    <input id="ace-settings-navbar" class="ace ace-checkbox-2" type="checkbox"/>
                    <label class="lbl" for="ace-settings-navbar">&ensp;{:L('FIXED_NAVBAR')}</label>
                </div>
                <div>
                    <input id="ace-settings-sidebar" class="ace ace-checkbox-2" type="checkbox"/>
                    <label class="lbl" for="ace-settings-sidebar">&ensp;{:L('FIXED_SIDEBAR')}</label>
                </div>
                <div>
                    <input id="ace-settings-breadcrumbs" class="ace ace-checkbox-2" type="checkbox"/>
                    <label class="lbl" for="ace-settings-breadcrumbs">&ensp;{:L('FIXED_BREADCRUMBS')}</label>
                </div>
                <div>
                    <input id="ace-settings-rtl" class="ace ace-checkbox-2" type="checkbox"/>
                    <label class="lbl" for="ace-settings-rtl">&ensp;{:L('SET_RTL')}</label>
                </div>
                <div>
                    <input id="ace-settings-add-container" class="ace ace-checkbox-2" type="checkbox"/>
                    <label class="lbl" for="ace-settings-add-container">&ensp;{:L('SET_CONTAINER')}<b></b></label>
                </div>
            </div>
        </div>
    </div>
    <a id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse" href="javascript:;">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
</div>
</block>
<div id="msg_modal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="alert" role="alert">
            <span class="glyphicon"></span>
            <span class="info"></span>
        </div>
    </div>
  </div>
</div>
<div id="loading" class="modal-backdrop in hide"></div>
<img id="loadimg" class="hide" src="http://itsky.qiniudn.com/logo-load.gif" alt="loading"/>
</body>
</html>