<switch name="type">
<case value="title">
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_THUMB')}:</label>
        <div class="col-lg-9">
            <input class="ace ace-switch ace-switch-7" type="checkbox" name="setup[thumb]" value="1"/>
            <span class="lbl"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_STYLE')}:</label>
        <div class="col-lg-9">
            <input class="ace ace-switch ace-switch-7" type="checkbox" name="setup[style]" value="1"/>
            <span class="lbl"></span>
        </div>
    </div>
    <div class="form-group mb0">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_SIZE')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-3" type="text" name="setup[size]" value=""/>
        </div>
    </div>
</case>
<case value="text">
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_SIZE')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-3" type="text" name="setup[size]" value=""/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_DEFAULT')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-12" type="text" name="setup[default]" value=""/>
        </div>
    </div>
    <div class="form-group mb0">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_IS_PASSWORD')}:</label>
        <div class="col-lg-9">
            <input class="ace ace-switch ace-switch-7" type="checkbox" name="setup[ispassword]" value="1"/>
            <span class="lbl"></span>
            <input type="hidden" name="setup[fieldtype]" value="varchar"/>
        </div>
    </div>
</case>
<case value="textarea">
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_FIELD_TYPE')}:</label>
        <div class="col-lg-9">
            <div class="input-group col-lg-5 select-click">
                <input class="hide" type="text" name="setup[fieldtype]" value="mediumtext"/>
                <div class="form-control select-input cude"></div>
                <span class="input-group-addon cude">
                    <i class="glyphicon glyphicon-menu-down"></i>
                </span>
            </div>
            <div class="col-lg-5">
                <div class="select-choices">
                    <ul class="list-unstyled select-option" data-name="setup[fieldtype]">
                        <li data-val="mediumtext">MEDIUMTEXT</li>
                        <li data-val="text">TEXT</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_HEIGHT')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-3 pull-left" type="text" name="setup[height]" value=""/>
            <span class="pull-left pt5 ml10 text-muted">px</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_WIDTH')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-3 pull-left" type="text" name="setup[width]" value=""/>
            <span class="pull-left pt5 ml10 text-muted">px</span>
        </div>
    </div>
    <div class="form-group mb0">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_DEFAULT')}:</label>
        <div class="col-lg-9">
            <textarea class="col-lg-9" name="setup[default]"></textarea>
        </div>
    </div>
    <import type="js" file="js.select"/>
</case>
<default/>
    <div class="form-group mb0">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_FILTER')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-10 pull-left" type="text" name="" value=""/>
            <span class="glyphicon glyphicon-info-sign text-info pull-left mt5 ml10 bigger-125 cude tooltip-info" data-placement="right" data-rel="tooltip" data-original-title="{:L('SETUP_FILTER_TIP')}"></span>
        </div>
    </div>
    <script type="text/javascript">$('[data-rel=tooltip]').tooltip();</script>
</switch>