<switch name="type">
<case value="title">
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_THUMB')}:</label>
        <div class="col-lg-9">
            <input class="ace ace-switch ace-switch-7" type="checkbox" name="setup[thumb]" value="1"/>
            <span class="lbl"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_STYLE')}:</label>
        <div class="col-lg-9">
            <input class="ace ace-switch ace-switch-7" type="checkbox" name="setup[style]" value="1"/>
            <span class="lbl"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_WIDTH')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-3 pull-left" type="text" name="setup[size]" value=""/>
            <span class="pull-left pt5 ml10">px</span>
        </div>
    </div>
</case>
<case value="text">
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_SIZE')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-3 pull-left" type="text" name="setup[size]" value=""/>
            <span class="pull-left pt5 ml10">px</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_DEFAULT')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-12" type="text" name="setup[default]" value=""/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_IS_PASSWORD')}:</label>
        <div class="col-lg-9">
            <input class="ace ace-switch ace-switch-7" type="checkbox" name="setup[ispassword]" value="1"/>
            <span class="lbl"></span>
            <input type="hidden" name="setup[fieldtype]" value="varchar"/>
        </div>
    </div>
</case>
<case value="textarea">
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_FIELD_TYPE')}:</label>
        <div class="col-lg-9">
            <div class="input-group col-lg-5 select-click">
                <input class="hide" type="text" name="setup[fieldtype]" value="mediumtext"/>
                <div class="form-control select-input cude"></div>
                <span class="input-group-addon cude">
                    <i class="glyphicon glyphicon-menu-down"></i>
                </span>
            </div>
            <div class="col-lg-5">
                <div class="select-choices">
                    <ul class="list-unstyled select-option" data-name="setup[fieldtype]">
                        <li data-val="mediumtext">MEDIUMTEXT</li>
                        <li data-val="text">TEXT</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_HEIGHT')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-3 pull-left" type="text" name="setup[height]" value=""/>
            <span class="pull-left pt5 ml10">px</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_WIDTH')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-3 pull-left" type="text" name="setup[width]" value=""/>
            <span class="pull-left pt5 ml10">px</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_DEFAULT')}:</label>
        <div class="col-lg-9">
            <textarea class="col-lg-9" name="setup[default]"></textarea>
        </div>
    </div>
    <import type="js" file="js.select"/>
</case>
<case value="select">
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">
            <span class="block">{:L('SETUP_SELECT_LIST')}:</span>
            <span class="text-muted block">{:L('SETUP_SELECT_INFO')}</span>
        </label>
        <div class="col-lg-9">
            <textarea class="col-lg-10" style="height: 120px;" name="setup[options]"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_SELECT_TYPE')}:</label>
        <div class="col-lg-9">
            <label>
                <input class="ace" type="radio" name="setup[multiple]" value="0" checked="checked"/>
                <span class="lbl"> {:L('SETUP_SELECT_TYPE_1')}</span>
            </label>
            <label class="ml10">
                <input class="ace" type="radio" name="setup[multiple]" value="1"/>
                <span class="lbl"> {:L('SETUP_SELECT_TYPE_2')}</span>
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_FIELD_TYPE')}:</label>
        <div class="col-lg-9">
            <div class="col-lg-6 pull-left no-padding-left">
                <div class="input-group col-lg-12 select-click">
                    <input class="hide" type="text" name="setup[fieldtype]" value="varchar"/>
                    <div class="form-control select-input cude text-nowrap overflow-hidden"></div>
                    <span class="input-group-addon cude">
                        <i class="glyphicon glyphicon-menu-down"></i>
                    </span>
                </div>
                <div class="col-lg-12">
                    <div class="select-choices">
                        <ul class="list-unstyled select-option" data-name="setup[fieldtype]">
                            <li data-val="varchar">{:L('SETUP_VARCHAR')} VARCHAR</li>
                            <li data-val="tinyint">{:L('SETUP_INT')} TINYINT(3)</li>
                            <li data-val="smallint">{:L('SETUP_INT')} SMALLINT(5)</li>
                            <li data-val="mediumint">{:L('SETUP_INT')} MEDIUMINT(8)</li>
                            <li data-val="int">{:L('SETUP_INT')} INT(10)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <label id="numbertype" class="pull-left mt5 hide">
                <input class="ace" type="checkbox" name="numbertype" value="1" checked="checked"/>
                <span class="lbl"> {:L('SETUP_NO_NEGATIVE')}</span>
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_SHOW_ITEM')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-3" type="text" name="setup[size]" value=""/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_DEFAULT')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-8" type="text" name="setup[default]"/>
        </div>
    </div>
    <import type="js" file="js.select"/>
</case>
<case value="editor">
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_EDITOR_TYPE')}:</label>
        <div class="col-lg-9">
            <div class="input-group col-lg-5 select-click">
                <input class="hide" type="text" name="setup[edittype]" value="ueditor"/>
                <div class="form-control select-input cude text-nowrap overflow-hidden"></div>
                <span class="input-group-addon cude">
                    <i class="glyphicon glyphicon-menu-down"></i>
                </span>
            </div>
            <div class="col-lg-5">
                <div class="select-choices">
                    <ul class="list-unstyled select-option" data-name="setup[edittype]">
                        <li data-val="ueditor">UEditor</li>
                        <li data-val="kindeditor">KindEditor</li>
                        <li data-val="ckeditor">CKEditor</li>
                        <li data-val="markdown">Markdown</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_EDITOR_STYLE')}:</label>
        <div class="col-lg-9">
            <label>
                <input class="ace" type="radio" name="setup[toolbar]" value="basic"/>
                <span class="lbl"> {:L('SETUP_EDITOR_STYLE_BASIC')}</span>
            </label>
            <label class="ml10">
                <input class="ace" type="radio" name="setup[toolbar]" value="full" checked="checked"/>
                <span class="lbl"> {:L('SETUP_EDITOR_STYLE_FULL')}</span>
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_DEFAULT')}:</label>
        <div class="col-lg-9">
            <textarea class="col-lg-12" name="setup[default]"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_EDITOR_HEIGHT')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-3 pull-left" type="text" name="setup[height]" value=""/>
            <span class="pull-left pt5 ml10">px</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_IS_PAGE')}:</label>
        <div class="col-lg-9">
            <input class="ace ace-switch ace-switch-7" type="checkbox" value="1" name="setup[showpage]" checked="checked"/>
            <span class="lbl"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_SHOW_ABSTRACT')}:</label>
        <div class="col-lg-9">
            <input class="ace ace-switch ace-switch-7" type="checkbox" value="1" name="setup[show_add_description]"  checked="checked"/>
            <span class="lbl"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_SHOW_GET_TITLE_THUMB')}:</label>
        <div class="col-lg-9">
            <input class="ace ace-switch ace-switch-7" type="checkbox" value="1" name="setup[show_auto_thumb]"  checked="checked"/>
            <span class="lbl"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_SHOW_SAVE_REMOTE_PIC')}:</label>
        <div class="col-lg-9">
            <input class="ace ace-switch ace-switch-7" type="checkbox" value="1" name="setup[show_auto_thumb]"  checked="checked"/>
            <span class="lbl"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_IS_UPLOAD_PIC')}:</label>
        <div class="col-lg-9">
            <input class="ace ace-switch ace-switch-7" type="checkbox" value="1" name="setup[picupload]"  checked="checked"/>
            <span class="lbl"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_UPLOAD_PIC_FORMAT')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-10" type="text" name="setup[alowuploadexts]" value="" placeholder="{:L('SUCH')}: jpg,jpeg,png,gif"/>
        </div>
    </div>
    <import type="js" file="js.select"/>
</case>
<case value="datetime">
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_DEFAULT')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-8" type="text" name="setup[default]" value=""/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_DATE_FORMAT')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-8 pull-left" type="text" name="setup[dateformat]" value=""/>
            <span class="glyphicon glyphicon-info-sign text-info pull-left mt5 ml10 bigger-125 cude tooltip-info" data-placement="right" data-rel="tooltip" data-original-title="{:L('SETUP_DATE_TIP')}"></span>
        </div>
    </div>
</case>
<case value="attr">
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_SELECT_TYPE')}:</label>
        <div class="col-lg-9">
            <label>
                <input class="ace" type="radio" name="setup[inputtype]" value="radio" checked="checked"/>
                <span class="lbl"> {:L('SETUP_SELECT_RADIO')}</span>
            </label>
            <label class="ml10">
                <input class="ace" type="radio" name="setup[inputtype]" value="checkbox"/>
                <span class="lbl"> {:L('SETUP_SELECT_CHECKBOX')}</span>
            </label>
            <label class="ml10">
                <input class="ace" type="radio" name="setup[inputtype]" value="select"/>
                <span class="lbl"> {:L('SETUP_SELECT_SELECT')}</span>
            </label>
            <label class="ml10">
                <input class="ace" type="radio" name="setup[inputtype]" value="images"/>
                <span class="lbl"> {:L('SETUP_SELECT_IMAGES')}</span>
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_DEFAULT')}:</label>
        <div class="col-lg-9">
            <textarea class="col-lg-8 pull-left" name="setup[default]"></textarea>
            <span class="glyphicon glyphicon-info-sign text-info pull-left mt5 ml10 bigger-125 cude tooltip-info" data-placement="right" data-rel="tooltip" data-original-title="{:L('SETUP_ATTR_TIP')}"></span>
        </div>
    </div>
</case>
<case value="groupid">
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_SELECT_TYPE')}:</label>
        <div class="col-lg-9">
            <label>
                <input class="ace" type="radio" name="setup[inputtype]" value="radio" checked="checked"/>
                <span class="lbl"> {:L('SETUP_SELECT_RADIO_FRAME')}</span>
            </label>
            <label class="ml10">
                <input class="ace" type="radio" name="setup[inputtype]" value="checkbox"/>
                <span class="lbl"> {:L('SETUP_SELECT_CHECKBOX_FRAME')}</span>
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_FIELD_TYPE')}:</label>
        <div class="col-lg-9">
            <div class="col-lg-6 pull-left no-padding-left">
                <div class="input-group col-lg-12 select-click">
                    <input class="hide" type="text" name="setup[fieldtype]" value="varchar"/>
                    <div class="form-control select-input cude text-nowrap overflow-hidden"></div>
                    <span class="input-group-addon cude">
                        <i class="glyphicon glyphicon-menu-down"></i>
                    </span>
                </div>
                <div class="col-lg-12">
                    <div class="select-choices">
                        <ul class="list-unstyled select-option" data-name="setup[fieldtype]">
                            <li data-val="varchar">{:L('SETUP_VARCHAR')} VARCHAR</li>
                            <li data-val="tinyint">{:L('SETUP_INT')} TINYINT(3)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <label id="numbertype" class="pull-left mt5 hide">
                <input class="ace" type="checkbox" name="numbertype" value="1" checked="checked"/>
                <span class="lbl"> {:L('SETUP_NO_NEGATIVE')}</span>
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_DEFAULT')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-5" type="text" name="setup[default]" value=""/>
        </div>
    </div>
    <import type="js" file="js.select"/>
</case>
<case value="typeid">
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_SELECT_TYPE')}:</label>
        <div class="col-lg-9">
            <label>
                <input class="ace" type="radio" name="setup[inputtype]" value="radio" checked="checked"/>
                <span class="lbl"> {:L('SETUP_SELECT_RADIO_FRAME')}</span>
            </label>
            <label class="ml10">
                <input class="ace" type="radio" name="setup[inputtype]" value="checkbox"/>
                <span class="lbl"> {:L('SETUP_SELECT_CHECKBOX_FRAME')}</span>
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_FIELD_TYPE')}:</label>
        <div class="col-lg-9">
            <div class="col-lg-6 pull-left no-padding-left">
                <div class="input-group col-lg-12 select-click">
                    <input class="hide" type="text" name="setup[fieldtype]" value="varchar"/>
                    <div class="form-control select-input cude text-nowrap overflow-hidden"></div>
                    <span class="input-group-addon cude">
                        <i class="glyphicon glyphicon-menu-down"></i>
                    </span>
                </div>
                <div class="col-lg-12">
                    <div class="select-choices">
                        <ul class="list-unstyled select-option" data-name="setup[fieldtype]">
                            <li data-val="varchar">{:L('SETUP_VARCHAR')} VARCHAR</li>
                            <li data-val="tinyint">{:L('SETUP_INT')} TINYINT(3)</li>
                            <li data-val="smallint">{:L('SETUP_INT')} SMALLINT(5)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <label id="numbertype" class="pull-left mt5 hide">
                <input class="ace" type="checkbox" name="numbertype" value="1" checked="checked"/>
                <span class="lbl"> {:L('SETUP_NO_NEGATIVE')}</span>
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_DEFAULT')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-5" type="text" name="setup[default]" value=""/>
        </div>
    </div>
    <import type="js" file="js.select"/>
</case>
<case value="radio">
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">
            <span class="block">{:L('SETUP_SELECT_LIST')}:</span>
            <span class="text-muted block">{:L('SETUP_SELECT_INFO')}</span>
        </label>
        <div class="col-lg-9">
            <textarea class="col-lg-10" style="height: 120px;" name="setup[options]"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_FIELD_TYPE')}:</label>
        <div class="col-lg-9">
            <div class="col-lg-6 pull-left no-padding-left">
                <div class="input-group col-lg-12 select-click">
                    <input class="hide" type="text" name="setup[fieldtype]" value="varchar"/>
                    <div class="form-control select-input cude text-nowrap overflow-hidden"></div>
                    <span class="input-group-addon cude">
                        <i class="glyphicon glyphicon-menu-down"></i>
                    </span>
                </div>
                <div class="col-lg-12">
                    <div class="select-choices">
                        <ul class="list-unstyled select-option" data-name="setup[fieldtype]">
                            <li data-val="varchar">{:L('SETUP_VARCHAR')} VARCHAR</li>
                            <li data-val="tinyint">{:L('SETUP_INT')} TINYINT(3)</li>
                            <li data-val="smallint">{:L('SETUP_INT')} SMALLINT(5)</li>
                            <li data-val="mediumint">{:L('SETUP_INT')} MEDIUMINT(8)</li>
                            <li data-val="int">{:L('SETUP_INT')} INT(10)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <label id="numbertype" class="pull-left mt5 hide">
                <input class="ace" type="checkbox" name="numbertype" value="1" checked="checked"/>
                <span class="lbl"> {:L('SETUP_NO_NEGATIVE')}</span>
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_DEFAULT')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-5" type="text" name="setup[default]" value=""/>
        </div>
    </div>
    <import type="js" file="js.select"/>
</case>
<case value="checkbox">
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">
            <span class="block">{:L('SETUP_SELECT_LIST')}:</span>
            <span class="text-muted block">{:L('SETUP_SELECT_INFO')}</span>
        </label>
        <div class="col-lg-9">
            <textarea class="col-lg-10" style="height: 120px;" name="setup[options]"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_FIELD_TYPE')}:</label>
        <div class="col-lg-9">
            <div class="col-lg-6 pull-left no-padding-left">
                <div class="input-group col-lg-12 select-click">
                    <input class="hide" type="text" name="setup[fieldtype]" value="varchar"/>
                    <div class="form-control select-input cude text-nowrap overflow-hidden"></div>
                    <span class="input-group-addon cude">
                        <i class="glyphicon glyphicon-menu-down"></i>
                    </span>
                </div>
                <div class="col-lg-12">
                    <div class="select-choices">
                        <ul class="list-unstyled select-option" data-name="setup[fieldtype]">
                            <li data-val="varchar">{:L('SETUP_VARCHAR')} VARCHAR</li>
                            <li data-val="tinyint">{:L('SETUP_INT')} TINYINT(3)</li>
                            <li data-val="smallint">{:L('SETUP_INT')} SMALLINT(5)</li>
                            <li data-val="mediumint">{:L('SETUP_INT')} MEDIUMINT(8)</li>
                            <li data-val="int">{:L('SETUP_INT')} INT(10)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <label id="numbertype" class="pull-left mt5 hide">
                <input class="ace" type="checkbox" name="numbertype" value="1" checked="checked"/>
                <span class="lbl"> {:L('SETUP_NO_NEGATIVE')}</span>
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_DEFAULT')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-5" type="text" name="setup[default]" value=""/>
        </div>
    </div>
    <import type="js" file="js.select"/>
</case>
<case value="number">
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_WIDTH')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-3 pull-left" type="text" name="setup[size]" value="{$vo.setup.size}"/>
            <span class="pull-left pt5 ml10 text-muted">px</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_IS_NEGATIVE')}:</label>
        <div class="col-lg-9">
            <label class="pull-left">
                <input class="ace ace-switch ace-switch-7" type="checkbox" name="setup[numbertype]" value="1" checked="checked"/>
                <span class="lbl"></span>
            </label>
            <span class="pull-left pt5">{:L('SETUP_NO_NEGATIVE')}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_DECIMAL_NUMBER')}:</label>
        <div class="col-lg-9">
            <input id="spinner1" type="text" name="setup[decimaldigits]"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_DEFAULT')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-5" type="text" name="setup[default]" value=""/>
        </div>
    </div>
    <import type="js" file="js.jquery#ui#touch-punch#min"/>
    <import type="js" file="js.fuelux#spinner#min"/>
    <script type="text/javascript">
        $('#spinner1').ace_spinner({
            value:0,
            min:0,
            max:5,
            step:1,
            on_sides: true,
            icon_up:'glyphicon glyphicon-plus smaller-75',
            icon_down:'glyphicon glyphicon-minus smaller-75',
            btn_up_class:'btn-success',
            btn_down_class:'btn-danger'
        });
        $('.ace-spinner.touch-spinner').css('width','80px');
    </script>
</case>
<case value="image">
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_WIDTH')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-3 pull-left" type="text" name="setup[size]" value=""/>
            <span class="pull-left pt5 ml10">px</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_DEFAULT')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-12" type="text" name="setup[default]" value=""/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_UPLOAD_MAX_SIZE')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-3 pull-left" type="text" name="setup[upload_maxsize]" value=""/>
            <span class="pull-left pt5 pl5"> KB</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_UPLOAD_TYPE')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-9" type="text" name="setup[upload_allowext]" value="" placeholder="{:L('SUCH')}: jpg,jpeg,png,gif"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_UPLOAD_WATERMARK')}:</label>
        <div class="col-lg-9">
            <input class="ace ace-switch ace-switch-7" type="checkbox" name="setup[watermark]" value="1" checked="checked"/>
            <span class="lbl"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_UPLOAD_ALREADY')}:</label>
        <div class="col-lg-9">
            <input class="ace ace-switch ace-switch-7" type="checkbox" name="setup[more]" value="1"/>
            <span class="lbl"></span>
        </div>
    </div>
</case>
<case value="images">
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_DEFAULT')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-12" type="text" name="setup[default]" value=""/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_UPLOAD_MAX_NUM')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-3" type="text" name="setup[upload_maxnum]" value=""/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_UPLOAD_MAX_SIZE')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-3 pull-left" type="text" name="setup[upload_maxsize]" value=""/>
            <span class="pull-left pt5 pl5"> KB</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_UPLOAD_TYPE')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-9" type="text" name="setup[upload_allowext]" value="" placeholder="{:L('SUCH')}: jpg,jpeg,png,gif"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_UPLOAD_WATERMARK')}:</label>
        <div class="col-lg-9">
            <input class="ace ace-switch ace-switch-7" type="checkbox" name="setup[watermark]" value="1" checked="checked"/>
            <span class="lbl"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_UPLOAD_ALREADY')}:</label>
        <div class="col-lg-9">
            <input class="ace ace-switch ace-switch-7" type="checkbox" name="setup[more]" value="1"/>
            <span class="lbl"></span>
        </div>
    </div>
</case>
<case value="file">
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_WIDTH')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-3 pull-left" type="text" name="setup[size]" value=""/>
            <span class="pull-left pt5 ml10">px</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_DEFAULT')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-12" type="text" name="setup[default]" value=""/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_UPLOAD_FILE_MAX_SIZE')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-3 pull-left" type="text" name="setup[upload_maxsize]" value=""/>
            <span class="pull-left pt5 pl5"> KB</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_UPLOAD_TYPE')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-9" type="text" name="setup[upload_allowext]" value="" placeholder="{:L('SUCH')}: zip,rar,txt,pdf"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_UPLOAD_ALREADY')}:</label>
        <div class="col-lg-9">
            <input class="ace ace-switch ace-switch-7" type="checkbox" name="setup[more]" value="1"/>
            <span class="lbl"></span>
        </div>
    </div>
</case>
<case value="files">
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_DEFAULT')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-12" type="text" name="setup[default]" value=""/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_UPLOAD_MAX_NUM')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-3" type="text" name="setup[upload_maxnum]" value=""/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_UPLOAD_FILE_MAX_SIZE')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-3 pull-left" type="text" name="setup[upload_maxsize]" value=""/>
            <span class="pull-left pt5 pl5"> KB</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_UPLOAD_TYPE')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-9" type="text" name="setup[upload_allowext]" value="" placeholder="{:L('SUCH')}: zip,rar,txt,pdf"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_UPLOAD_ALREADY')}:</label>
        <div class="col-lg-9">
            <input class="ace ace-switch ace-switch-7" type="checkbox" name="setup[more]" value="1"/>
            <span class="lbl"></span>
        </div>
    </div>
</case>
<case value="verify">
    <div class="form-group">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_WIDTH')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-3 pull-left" type="text" name="setup[size]" value=""/>
            <span class="pull-left pt5 ml10">px</span>
        </div>
    </div>
</case>
<default/>
</switch>
    <div class="form-group mb0">
        <label class="col-lg-3 control-label no-padding-right">{:L('SETUP_FILTER')}:</label>
        <div class="col-lg-9">
            <input class="col-lg-10 pull-left" type="text" name="setup[safefun]" value=""/>
            <span class="glyphicon glyphicon-info-sign text-info pull-left mt5 ml10 bigger-125 cude tooltip-info" data-placement="right" data-rel="tooltip" data-original-title="{:L('SETUP_FILTER_TIP')}"></span>
        </div>
    </div>
    <script type="text/javascript">
        $('[data-rel=tooltip]').tooltip();
        $('.select-option li').bind('click',function(){
            var val = $(this).attr('data-val');
            if(val=='varchar'){
                $('#numbertype').addClass('hide');
            }else{
                $('#numbertype').removeClass('hide');
            }
        });
    </script>