<div class="col-lg-8">
    <form class="form-horizontal" role="form">
        <input type="hidden" name="mid" value="{$Think.get.mid}"/>
        <input type="hidden" name="mtype" value="{$Think.get.type}"/>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">{:L('FIELDS_TYPE')}:</label>
            <div class="col-lg-9">
                <div class="input-group col-lg-8 select-click">
                    <input id="field_type" class="hide" type="text" name="type" value=""/>
                    <div class="form-control select-input cude"></div>
                    <span class="input-group-addon cude">
                        <i class="glyphicon glyphicon-menu-down"></i>
                    </span>
                </div>
                <div class="col-lg-8">
                    <div class="select-choices">
                        <ul class="list-unstyled select-option" data-name="type">
                            <li data-val="">{:L('SELECT_FIELD_TYPE')}</li>
                            <li data-val="catid">{:L('FIELD_CATID')}</li>
                            <li data-val="title">{:L('FIELD_TITLE')}</li>
                            <li data-val="typeid">{:L('FIELD_TYPEID')}</li>
                            <li data-val="text">{:L('FIELD_TEXT')}</li>
                            <li data-val="textarea">{:L('FIELD_TEXTAREA')}</li>
                            <li data-val="editor">{:L('FIELD_EDITOR')}</li>
                            <li data-val="select">{:L('FIELD_SELECT')}</li>
                            <li data-val="radio">{:L('FIELD_RADIO')}</li>
                            <li data-val="checkbox">{:L('FIELD_CHECKBOX')}</li>
                            <li data-val="image">{:L('FIELD_IMAGE')}</li>
                            <li data-val="images">{:L('FIELD_IMAGES')}</li>
                            <li data-val="file">{:L('FIELD_FILE')}</li>
                            <li data-val="files">{:L('FIELD_FILES')}</li>
                            <li data-val="number">{:L('FIELD_NUMBER')}</li>
                            <li data-val="datetime">{:L('FIELD_DATETIME')}</li>
                            <li data-val="posid">{:L('FIELD_POSID')}</li>
                            <li data-val="groupid">{:L('FIELD_GROUPID')}</li>
                            <li data-val="linkage">{:L('FIELD_LINKAGE')}</li>
                            <li data-val="template">{:L('FIELD_TEMPLATE')}</li>
                            <li data-val="verify">{:L('FIELD_VERIFY')}</li>
                            <li data-val="attr">{:L('FIELD_ATTR')}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="field_tr" class="form-group">
            <label class="col-lg-3 control-label no-padding-right">{:L('FIELD_NAME')}:</label>
            <div class="col-lg-9">
                <input class="col-lg-8" type="text" name="field" value=""/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label no-padding-right">{:L('FIELD_ALIAS')}:</label>
            <div class="col-lg-9">
                <input class="col-lg-8" type="text" name="name" value="" placeholder="{$Think.LANG_SET}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label no-padding-right">{:L('FIELD_SETUP')}:</label>
            <div id="field_setup" class="col-lg-9"></div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label no-padding-right">{:L('CLASS_NAME')}:</label>
            <div class="col-lg-9">
                <input class="col-lg-5" type="text" name="class" value=""/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label no-padding-right">{:L('REQUIRED')}:</label>
            <div class="col-lg-9">
                <input class="ace ace-switch ace-switch-7" type="checkbox" value="1" name="required" checked="checked"/>
                <span class="lbl"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label no-padding-right">{:L('PATTERN')}:</label>
            <div class="col-lg-9">
                <div class="input-group col-lg-8 select-click">
                    <input class="hide" type="text" name="pattern" value=""/>
                    <div class="form-control select-input cude"></div>
                    <span class="input-group-addon cude">
                        <i class="glyphicon glyphicon-menu-down"></i>
                    </span>
                </div>
                <div class="col-lg-8">
                    <div class="select-choices" data-height="300" style="max-height: 300px">
                        <ul class="list-unstyled select-option" data-name="pattern">
                            <li data-val="">{:L('SELECT_PATTERN')}</li>
                            <foreach name="field_pattern" item="p" key="f">
                            <li data-val="{$f}">{$p}</li>
                            </foreach>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="cusreg" class="form-group hide">
            <label class="col-lg-3 control-label no-padding-right">{:L('CUSTOM_REGEX')}:</label>
            <div class="col-lg-9">
                <input class="col-lg-12" type="text" name="regex" value=""/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label no-padding-right">{:L('STR_LENGTH')}:</label>
            <div class="col-lg-9">
                <span class="pull-left pt5">{:L('MIN_LENGTH')}</span>
                <input class="col-lg-2 pull-left ml10" type="text" name="minlength" value=""/>
                <span class="pull-left pt5 ml10">{:L('MAX_LENGTH')}</span>
                <input class="col-lg-2 pull-left ml10" type="text" name="maxlength" value=""/>
                <span class="pull-left pt5 ml10">{:L('NUM_STR')}</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 control-label no-padding-right">{:L('ERROR_MSG')}:</label>
            <div class="col-lg-9">
                <input class="col-lg-8" type="text" name="errormsg" value=""/>
            </div>
        </div>
        <div class="clearfix form-actions">
            <div class="col-lg-offset-3 col-lg-9">
                <button class="btn btn-info" type="submit">
                    <i class="glyphicon glyphicon-ok"></i> {:L('SUBMIT')}
                </button>
                <button class="btn" type="reset">
                    <i class="glyphicon glyphicon-repeat"></i> {:L('RESET')}
                </button>
            </div>
        </div>
    </form>
</div>
<style>.tooltip-inner{white-space:nowrap;max-width: 300px;}</style>
<script type="text/javascript">
    var pan = '<li><a onclick="load(event,this)" href="{:U('Module/index','type='.I('get.type').'&'.$vl)}">{:L('M_MODULE_INDEX_TYPE='.I('get.type'))}</a></li>\n\
<li class="active"><a onclick="load(event,this)" href="{:U('Field/index',$vl.'&type='.I('get.type').'&mid='.I('get.mid'))}">{:L('FIELD_MANAGEMENT')}</a></li><li class="active">{:L('ADD')}</li>';
    $('#breadcrumbs .breadcrumb li:gt(0)').remove();
    $('#breadcrumbs .breadcrumb').append(pan);
    $('.page-header h1').empty();
    $('.page-header h1').append('{:L('M_MODULE_INDEX_TYPE='.I('get.type'))}<small class="glyphicon glyphicon-menu-right"> {:L('FIELD_MANAGEMENT')}</small><small class="glyphicon glyphicon-menu-right"> {:L('ADD')}</small>');
    function field_setting(type){
        if(type == 'verify'){
            $('#field_tr').hide();
            $('input[name="field"]').val('verifycode');
            $('input[name="name"]').val('{:L('FIELD_VERIFY')}');
            var regex_val = $('ul[data-name="pattern"] li[data-val="regex"]').text();
            $('input[name="pattern"]').val('regex').nextAll('div.select-input').text(regex_val);
            $('#cusreg').removeClass('hide');
            $('input[name="regex"]').val('/^[0-9a-zA-Z]+$/');
            $('input[name="minlength"]').val(4);
            $('input[name="maxlength"]').val(4);
            $('input[name="required"]').attr('checked',true);
        }else{
            $('#field_tr').show();
            $('form[role="form"]')[0].reset();
            $('#cusreg').addClass('hide');
            var initial = $('input[name="pattern"]').val();
            var initxt = $('ul[data-name="pattern"] li[data-val="'+initial+'"]').text();
            $('input[name="pattern"]').nextAll('div.select-input').text(initxt);
        }
        $.ajax({
            type:'POST',
            url:'{:U('Field/index',$vl.'&isajax=1&mid='.I('get.mid'))}',
            data:'type='+type,
            beforeSend:function(){
                $('#field_setup').html('<img style="margin-left:50px;" src="__PUBLIC__/validator/images/loading.gif" alt="loading"/>');
            },
            success:function(msg){
                $('#field_setup').html(msg);
            }
        });
    }
    field_setting('');
    $('ul[data-name="type"] li').click(function(){
        field_setting($(this).attr('data-val'));
    });
    $('ul[data-name="pattern"] li').click(function(){
        if($(this).attr('data-val') == 'regex'){
            $('#cusreg').removeClass('hide');
        }else{
            $('#cusreg').addClass('hide');
        }
    });
    $('form[role="form"]').validator({
//        fields:{
//            type:{
//                rule:'required',
//                msgStyle:'position:relative;left:40px;'
//            },
//            field:'required;letters;length[2~20];remote[{:U('Check/field',$vl)} ,id]',
//            name:'required;length[2~20]'
//        },
        valid:function(form){
            $.ajax({
                type: 'POST',
                url: '{:U('Field/'.ACTION_NAME,$vl)}',
                data:$(form).serialize(),
                success: function(data){
                    show_msg(data);
                }
            });
        }
    });
</script>
<import type="js" file="js.select"/>