<div id="access" class="col-xs-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            <label><input class="ace" type="checkbox" data-key="0"/><span class="lbl"> {:L('ALL_SELECT')}</span></label>
            <strong class="pull-right f14">{:L('GROUPNAME')}: {:L($v['title'])}</strong>
        </div>
        <form role="form">
            <input type="hidden" name="gid" value="{$v.id}"/>
            <table class="table table-striped">
                <foreach name="top" item="t" key="n">
                <tr><td><label><span class="badge badge-grey">{$n+1}</span> <input class="ace" type="checkbox" data-key="{$n+1}"/><span class="lbl">{:L($t['name'])}</span></label></td></tr>
                <tr>
                    <td>
                        <sky:db table="AuthRule" where="tid=$n+1 and name like '%/index'" order="listorder,id" item="vo">
                        <div class="line-height-1 mtb4"></div>
                        <label class="mr10">
                            <input class="ace" type="checkbox"{:in_array($vo['id'],$rules)?' checked="checked"':''} name="id[{$vo.id}]" value="{$vo.id}" data-var="{$n+1}"/><span class="lbl">{:L($vo['title'])}</span>
                            <span class="text-muted f12">({$vo.name})</span>
                        </label>
                        <php>$like=substr($vo['name'],0,-6);</php>
                        <sky:db table="AuthRule" where="tid=$n+1 and name like '$like%' and name not like '%/index'" order="listorder,id" item="i">
                            <label class="mr10">
                                <input class="ace" type="checkbox"{:in_array($i['id'],$rules)?' checked="checked"':''} name="id[{$i.id}]" value="{$i.id}" data-var="{$n+1}"/><span class="lbl">{:L($i['title'])}</span>
                                <span class="text-muted f12">({$i.name})</span>
                            </label>
                        </sky:db>
                        </sky:db>
                    </td>
                </tr>
                </foreach>
                <tr><td><button type="submit" class="btn btn-primary btn-sm">{:L('SAVE')}</button></td></tr>
            </table>
        </form>
    </div>
</div>
<script type="text/javascript">
    var pan = '<li><a onclick="load(event,this)" href="{:U(CONTROLLER_NAME.'/index',$vl)}">{:L('M_'.$Think.CONTROLLER_NAME.'_INDEX')}</a></li>\n\
<li class="active">{:L($Think.ACTION_NAME)}</li>';
    $('#breadcrumbs .breadcrumb li:gt(0)').remove();
    $('#breadcrumbs .breadcrumb').append(pan);
    $('.page-header h1').empty();
    $('.page-header h1').append('{:L('M_'.$Think.CONTROLLER_NAME.'_INDEX')}<small class="glyphicon glyphicon-menu-right"> {:L($Think.ACTION_NAME)}</small>');
    $('#access .table td').each(function(){
        $(this).find('.line-height-1:first').hide();
        var checkbox = $(this).find('input[type="checkbox"]');
        if(checkbox.is(':checked')){
            $('input[type="checkbox"][data-key="'+checkbox.attr('data-var')+'"]').attr('checked',true);
        }
    });
    if($('#access .table input[type="checkbox"]').attr('checked')){
        $('input[type="checkbox"][data-key="0"]').attr('checked',true);
    }
    $('#access input:checkbox').on('click',function(){
        var that = this;
        var key = $(this).attr('data-key');
        var vars = $(this).attr('data-var');
        if(key == 0){
            $(this).closest('#access').find('tr > td input:checkbox').each(function(){
                this.checked = that.checked;
            });
        }else if(key > 0){
            $(this).closest('#access').find('tr > td input[data-var="'+key+'"]:checkbox').each(function(){
                this.checked = that.checked;
            });
        }
    });
    $('form[role="form"]').validator({
        valid:function(form){
            $.ajax({
                type: 'POST',
                url: '{:U('Group/access',$vl)}',
                data:$(form).serialize(),
                success: function(data){
                    show_msg(data);
                }
            });
        }
    });
</script>