<div class="col-xs-6">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">{:L('USERNAME')}:</label>
            <div class="col-sm-9">
                <div class="col-xs-5 pt5 grey no-padding-left f14">{$vo.username}</div>
                <input type="hidden" value="{$vo.id}" name="id"/>
                <input type="text" class="col-xs-5 hide" value="{$vo.username}" name="username"/>
            </div>
        </div>
        <div class="space-4"></div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">{:L('EMAIL')}:</label>
            <div class="col-sm-9">
                <div class="col-xs-5 pt5 grey no-padding-left f14">{$vo.email}</div>
                <input type="text" class="col-xs-10 hide" value="{$vo.email}" name="email"/>
            </div>
        </div>
        <div class="space-4"></div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">{:L('REALNAME')}:</label>
            <div class="col-sm-9">
                <div class="col-xs-5 pt5 grey no-padding-left f14">{$vo.realname}</div>
                <input type="text" class="col-xs-10 hide" value="{$vo.realname}" name="realname"/>
            </div>
        </div>
        <div class="space-4"></div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">{:L('QUESTION')}:</label>
            <div class="col-sm-9">
                <div class="col-xs-5 pt5 grey no-padding-left f14">{$vo.question}</div>
                <input type="text" class="col-xs-10 hide" value="{$vo.question}" name="question"/>
            </div>
        </div>
        <div class="space-4"></div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">{:L('ANSWER')}:</label>
            <div class="col-sm-9">
                <div class="col-xs-5 pt5 grey no-padding-left f14">{$vo.answer}</div>
                <input type="text" class="col-xs-10 hide" value="{$vo.answer}" name="answer"/>
            </div>
        </div>
        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-primary editpro" type="button">
                    <span class="glyphicon glyphicon-edit bigger-110"></span> {:L('EDIT')}
                </button>
                <button class="btn btn-info hide" type="submit">
                    <span class="glyphicon glyphicon-ok bigger-110"></span> {:L('SUBMIT')}
                </button>
                <button class="btn btn-warning hide" type="reset">
                    <span class="glyphicon glyphicon-repeat bigger-110"></span> {:L('RESET')}
                </button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    var pan = '<li class="active">{:L('M_INDEX_PROFILE')}</li>';
    $('#breadcrumbs .breadcrumb li:gt(0)').remove();
    $('#breadcrumbs .breadcrumb').append(pan);
    $('.page-header h1').empty().append('{:L('M_'.$Think.CONTROLLER_NAME.'_INDEX')}<small class="glyphicon glyphicon-chevron-right"> {:L('M_INDEX_PROFILE')}</small>');
    $('#sidebar .nav-list li.active').removeClass('active');
    $('#sidebar .nav-list li.open .submenu').hide();
    $('#sidebar .nav-list li.open').removeClass('open');
    $('#sidebar .nav-list li:first').addClass('active');
    $('.editpro').click(function(){
        $('.form-group .col-sm-9 .hide').removeClass('hide');
        $('.form-group .col-sm-9 div').addClass('hide');
        $('.form-actions .hide').removeClass('hide');
        $(this).addClass('hide');
    });
    $('button[type="reset"]').click(function(){
        $('.form-group .col-sm-9 .hide').removeClass('hide');
        $('.form-group .col-sm-9 input').addClass('hide');
        $('.form-actions .hide').removeClass('hide');
        $('button[type="submit"]').addClass('hide');
        $(this).addClass('hide');
    });
    $('form[role="form"]').validator({
        rules:{
            realname:[/^[\u0391-\uFFE5\w]+$/, "{:L('JS_INPUT_INFO')}"]
        },
        fields:{
            username:'required;username;remote[{:U('Check/username',$vl)}, id]',
            email:'required;email;remote[{:U('Check/email',$vl)}, id]',
            realname:'realname;length[2~20]',
            question:'length[3~30]',
            answer:'length[~30]'
        },
        valid:function(form){
            $.ajax({
                type: 'POST',
                url: '{:U('Index/profile',$vl)}',
                data:$(form).serialize(),
                success: function(data){
                    show_msg(data);
                }
            });
        }
    });
</script>