<div class="col-xs-6">
    <form class="form-horizontal" role="form">
        <input type="hidden" name="id" value="{$v.id}"/>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">{:L('USERNAME')}:</label>
            <div class="col-sm-9">
                <input class="col-xs-6" type="text" name="username" value="{$v.username}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">{:L('PASSWORD')}:</label>
            <div class="col-sm-9">
                <input class="col-xs-6" type="password" name="password"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">{:L('REALNAME')}:</label>
            <div class="col-sm-9">
                <input class="col-xs-6" type="text" name="realname" value="{$v.realname}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">{:L('EMAIL')}:</label>
            <div class="col-sm-9">
                <input class="col-xs-6" type="text" name="email" value="{$v.email}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">{:L('STATUS')}:</label>
            <div class="col-sm-9">
                <label>
                    <input class="ace ace-switch ace-switch-7" type="checkbox"{:ACTION_NAME=='add'?' checked="checked"':($v['status']?' checked="checked"':'')} value="1" name="status"/>
                    <span class="lbl"></span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">{:L('USERGROUP')}:</label>
            <div class="col-sm-5">
                <select class="form-control" name="group">
                    <option value="">{:L('SELECT')}</option>
                    <foreach name="glist" item="vo">
                    <option value="{$vo.id}"{$gid==$vo['id']?' selected="selected"':''}>{:L($vo['title'])}</option>
                    </foreach>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">{:L('QUESTION')}:</label>
            <div class="col-sm-9">
                <input class="col-xs-10" type="text" name="question" value="{$v.question}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">{:L('ANSWER')}:</label>
            <div class="col-sm-9">
                <input class="col-xs-10" type="text" name="answer" value="{$v.answer}"/>
            </div>
        </div>
        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-info" type="submit">
                    <i class="glyphicon glyphicon-ok"></i> {:L('SUBMIT')}
                </button>
                <button class="btn" type="reset">
                    <i class="glyphicon glyphicon-repeat"></i> {:L('RESET')}
                </button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    var pan = '<li><a onclick="load(event,this)" href="{:U(CONTROLLER_NAME.'/index',$vl)}">{:L('M_'.$Think.CONTROLLER_NAME.'_INDEX')}</a></li>\n\
<li class="active">{:L($Think.ACTION_NAME)}</li>';
    $('#breadcrumbs .breadcrumb li:gt(0)').remove();
    $('#breadcrumbs .breadcrumb').append(pan);
    $('.page-header h1').empty();
    $('.page-header h1').append('{:L('M_'.$Think.CONTROLLER_NAME.'_INDEX')}<small class="glyphicon glyphicon-menu-right"> {:L($Think.ACTION_NAME)}</small>');
    $('form[role="form"]').validator({
        fields:{
            username:'required;username;remote[{:U('Check/username',$vl)}, id]',
            password:'{:ACTION_NAME=='add'?'required;':''}password',
            realname:'realname;length[2~20]',
            email:'required;email;remote[{:U('Check/email',$vl)}, id]',
            group:'required',
            question:'length[3~30]',
            answer:'length[3~30]'
        },
        valid:function(form){
            $.ajax({
                type: 'POST',
                url: '{:U('Member/'.ACTION_NAME,$vl)}',
                data:$(form).serialize(),
                success: function(data){
                    show_msg(data);
                }
            });
        }
    });
</script>