<div class="col-sm-12">
    <div class="widget-box">
        <div class="widget-header header-color-green">
            <h4 class="lighter smaller">{:L('MENU_LIST')}</h4>
            <a class="tarmain pull-right btn btn-xs btn-primary add-menu" href="{:U('Menu/add')}">
                <span class="glyphicon glyphicon-plus"></span>添加菜单
            </a>
        </div>
        <div class="widget-body">
            <div class="widget-main padding-8">
                <div id="menu-tree" class="tree">{$mtree}</div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#menu-tree .tree-folder-header').click(function(){
        $(this).find(' + .tree-folder-content').toggleClass('hide');
        $(this).find(' > .glyphicon-chevron-right').toggleClass('rota60');
    });
    var pan = '<li><a class="tarmain" href="{:U(CONTROLLER_NAME.'/'.ACTION_NAME)}">{:L($Think.CONTROLLER_NAME)}</a></li>\n\
<li class="active">{:L($Think.ACTION_NAME)}</li>';
    $('#breadcrumbs .breadcrumb li:gt(0)').remove();
    $('#breadcrumbs .breadcrumb').append(pan);
    $('.page-header h1').empty();
    $('.page-header h1').append('{:L($Think.CONTROLLER_NAME)}<small class="glyphicon glyphicon-chevron-right"> {:L($Think.ACTION_NAME)}</small>');

    $('a.tarmain').click(function(e){
        $.ajax({
            type:'get',
            url:$(this).attr('href'),
            global:true,
            success:function(data){
                if($.isPlainObject(data)){
                    show_msg(data);
                }else{
                    $('#new_content').html(data);
                }
            }
        });
        e.preventDefault();
    });
</script>