<div class="col-sm-12">
    <div class="widget-box">
        <div class="widget-header header-color-green">
            <h4 class="lighter smaller">{:L('MENU_LIST')}</h4>
            <a class="pull-right btn btn-xs btn-primary add-menu" onclick="load(event,this)" href="{:U('Menu/add')}">
                <span class="glyphicon glyphicon-plus"></span>添加菜单
            </a>
        </div>
        <div class="widget-body">
            <div class="widget-main padding-8">
                <div id="menu-tree" class="tree">{$mtree}</div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('#menu-tree .tree-folder-header').click(function(){
        $(this).find(' + .tree-folder-content').toggleClass('hide');
        $(this).find(' > .glyphicon-chevron-right').toggleClass('rota60');
    });
    var pan = '<li><a onclick="load(event,this)" href="{:U(CONTROLLER_NAME.'/'.ACTION_NAME)}">{:L('M_'.$Think.CONTROLLER_NAME.'_'.$Think.ACTION_NAME)}</a></li>\n\
<li class="active">{:L($Think.ACTION_NAME)}</li>';
    $('#breadcrumbs .breadcrumb li:gt(0)').remove();
    $('#breadcrumbs .breadcrumb').append(pan);
    $('input[name^="listorder"]').keydown(function(e){
        var code = parseInt(e.keyCode);
        if(code >= 96 && code <= 105 || code >= 48 && code <= 57 || code == 8 || code == 46){
            return true;
        }else{
            return false;
        }
    });
    $('.page-header h1').empty();
    $('.page-header h1').append('{:L('M_'.$Think.CONTROLLER_NAME.'_'.$Think.ACTION_NAME)}<small class="glyphicon glyphicon-chevron-right"> {:L($Think.ACTION_NAME)}</small>');
    $('input[name^="listorder"]').click(function(){return false;});
    $('#menu-tree button').click(function(){return false;});
</script>