<div class="col-xs-6">
    <form class="form-horizontal" role="form">
        <input type="hidden" name="id" value="{$vo.id}"/>
        <input type="hidden" name="listorder" value="{$vo.listorder}"/>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">{:L('PARENT_ID')}:</label>
            <div class="col-sm-9">
                <div class="input-group col-xs-12 select-click">
                    <input class="hide" type="text" name="pid" value="{$pid}"/>
                    <div class="form-control select-input cude"></div>
                    <span class="input-group-addon cude">
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </span>
                </div>
                <div class="col-xs-12">
                    <div class="select-choices">
                        <ul class="list-unstyled select-option" data-name="pid">
                            <li data-val="0">{:L('TOP_MENU')}</li>{$map}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">{:L('REAL_NAME')}:</label>
            <div class="col-sm-9">
                <input class="col-xs-6" type="text" name="realname[{$Think.LANG_SET}]" value="{$vo['name']?L($vo['name']):''}" placeholder="{$Think.LANG_SET}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">{:L('MODEL')}:</label>
            <div class="col-sm-9">
                <input class="col-xs-6" type="text" name="model" value="{$vo.model}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">{:L('ACTION')}:</label>
            <div class="col-sm-9">
                <input class="col-xs-6" type="text" name="action" value="{$vo.action}"/>
                <span class="grey ml10 pt5 dib">{:L('DEFAULT')}: index</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">{:L('DATA')}:</label>
            <div class="col-sm-9">
                <input class="col-xs-8" type="text" name="data" value="{$vo.data}"/>
                <span class="grey ml10 pt5 dib">{:L('SUCH')}: id=1&AMP;type=2</span>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">{:L('REMARK')}:</label>
            <div class="col-sm-9">
                <textarea class="form-control" name="remark">{$vo.remark}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">{:L('STATUS')}:</label>
            <div class="col-sm-9">
                <label>
                    <input class="ace ace-switch ace-switch-7" type="checkbox" value="1"{:ACTION_NAME=='add'?' checked="checked"':($vo['status']?' checked="checked"':'')} name="status"/>
                    <span class="lbl"></span>
                </label>
                <input type="hidden" name="icon" value="{$vo.icon}"/>
                <button id="bootbox-options" class="btn btn-danger btn-sm" type="button">
                    <span class="{$vo.icon}"></span>
                    {:L('SEL_ICON')}
                </button><if condition="$vo['icon']"><button id="clearico" class="btn btn-warning btn-sm ml10" type="button">{:L('CLE_ICON')}</button></if>
            </div>
        </div>
        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-info" type="submit">
                    <i class="glyphicon glyphicon-ok"></i> {:L('SUBMIT')}
                </button>
                <button class="btn" type="reset">
                    <i class="glyphicon glyphicon-repeat"></i> {:L('RESET')}
                </button>
            </div>
        </div>
    </form>
</div>
<div class="icon-all hide">
    <ul id="icon-all">
        <li><span class="glyphicon glyphicon-asterisk"></span></li>
        <li><span class="glyphicon glyphicon-plus"></span></li>
        <li><span class="glyphicon glyphicon-euro"></span></li>
        <li><span class="glyphicon glyphicon-minus"></span></li>
        <li><span class="glyphicon glyphicon-cloud"></span></li>
        <li><span class="glyphicon glyphicon-envelope"></span></li>
        <li><span class="glyphicon glyphicon-pencil"></span></li>
        <li><span class="glyphicon glyphicon-glass"></span></li>
        <li><span class="glyphicon glyphicon-music"></span></li>
        <li><span class="glyphicon glyphicon-search"></span></li>
        <li><span class="glyphicon glyphicon-heart"></span></li>
        <li><span class="glyphicon glyphicon-star"></span></li>
        <li><span class="glyphicon glyphicon-star-empty"></span></li>
        <li><span class="glyphicon glyphicon-user"></span></li>
        <li><span class="glyphicon glyphicon-film"></span></li>
        <li><span class="glyphicon glyphicon-th-large"></span></li>
        <li><span class="glyphicon glyphicon-th"></span></li>
        <li><span class="glyphicon glyphicon-th-list"></span></li>
        <li><span class="glyphicon glyphicon-ok"></span></li>
        <li><span class="glyphicon glyphicon-remove"></span></li>
        <li><span class="glyphicon glyphicon-zoom-in"></span></li>
        <li><span class="glyphicon glyphicon-zoom-out"></span></li>
        <li><span class="glyphicon glyphicon-off"></span></li>
        <li><span class="glyphicon glyphicon-signal"></span></li>
        <li><span class="glyphicon glyphicon-cog"></span></li>
        <li><span class="glyphicon glyphicon-trash"></span></li>
        <li><span class="glyphicon glyphicon-home"></span></li>
        <li><span class="glyphicon glyphicon-file"></span></li>
        <li><span class="glyphicon glyphicon-time"></span></li>
        <li><span class="glyphicon glyphicon-road"></span></li>
        <li><span class="glyphicon glyphicon-download-alt"></span></li>
        <li><span class="glyphicon glyphicon-download"></span></li>
        <li><span class="glyphicon glyphicon-upload"></span></li>
        <li><span class="glyphicon glyphicon-inbox"></span></li>
        <li><span class="glyphicon glyphicon-play-circle"></span></li>
        <li><span class="glyphicon glyphicon-repeat"></span></li>
        <li><span class="glyphicon glyphicon-refresh"></span></li>
        <li><span class="glyphicon glyphicon-list-alt"></span></li>
        <li><span class="glyphicon glyphicon-lock"></span></li>
        <li><span class="glyphicon glyphicon-flag"></span></li>
        <li><span class="glyphicon glyphicon-headphones"></span></li>
        <li><span class="glyphicon glyphicon-volume-off"></span></li>
        <li><span class="glyphicon glyphicon-volume-down"></span></li>
        <li><span class="glyphicon glyphicon-volume-up"></span></li>
        <li><span class="glyphicon glyphicon-qrcode"></span></li>
        <li><span class="glyphicon glyphicon-barcode"></span></li>
        <li><span class="glyphicon glyphicon-tag"></span></li>
        <li><span class="glyphicon glyphicon-tags"></span></li>
        <li><span class="glyphicon glyphicon-book"></span></li>
        <li><span class="glyphicon glyphicon-bookmark"></span></li>
        <li><span class="glyphicon glyphicon-print"></span></li>
        <li><span class="glyphicon glyphicon-camera"></span></li>
        <li><span class="glyphicon glyphicon-font"></span></li>
        <li><span class="glyphicon glyphicon-bold"></span></li>
        <li><span class="glyphicon glyphicon-italic"></span></li>
        <li><span class="glyphicon glyphicon-text-height"></span></li>
        <li><span class="glyphicon glyphicon-text-width"></span></li>
        <li><span class="glyphicon glyphicon-align-left"></span></li>
        <li><span class="glyphicon glyphicon-align-center"></span></li>
        <li><span class="glyphicon glyphicon-align-right"></span></li>
        <li><span class="glyphicon glyphicon-align-justify"></span></li>
        <li><span class="glyphicon glyphicon-list"></span></li>
        <li><span class="glyphicon glyphicon-indent-left"></span></li>
        <li><span class="glyphicon glyphicon-indent-right"></span></li>
        <li><span class="glyphicon glyphicon-facetime-video"></span></li>
        <li><span class="glyphicon glyphicon-picture"></span></li>
        <li><span class="glyphicon glyphicon-map-marker"></span></li>
        <li><span class="glyphicon glyphicon-adjust"></span></li>
        <li><span class="glyphicon glyphicon-tint"></span></li>
        <li><span class="glyphicon glyphicon-edit"></span></li>
        <li><span class="glyphicon glyphicon-share"></span></li>
        <li><span class="glyphicon glyphicon-check"></span></li>
        <li><span class="glyphicon glyphicon-move"></span></li>
        <li><span class="glyphicon glyphicon-step-backward"></span></li>
        <li><span class="glyphicon glyphicon-fast-backward"></span></li>
        <li><span class="glyphicon glyphicon-backward"></span></li>
        <li><span class="glyphicon glyphicon-play"></span></li>
        <li><span class="glyphicon glyphicon-pause"></span></li>
        <li><span class="glyphicon glyphicon-stop"></span></li>
        <li><span class="glyphicon glyphicon-forward"></span></li>
        <li><span class="glyphicon glyphicon-fast-forward"></span></li>
        <li><span class="glyphicon glyphicon-step-forward"></span></li>
        <li><span class="glyphicon glyphicon-eject"></span></li>
        <li><span class="glyphicon glyphicon-chevron-left"></span></li>
        <li><span class="glyphicon glyphicon-chevron-right"></span></li>
        <li><span class="glyphicon glyphicon-plus-sign"></span></li>
        <li><span class="glyphicon glyphicon-minus-sign"></span></li>
        <li><span class="glyphicon glyphicon-remove-sign"></span></li>
        <li><span class="glyphicon glyphicon-ok-sign"></span></li>
        <li><span class="glyphicon glyphicon-question-sign"></span></li>
        <li><span class="glyphicon glyphicon-info-sign"></span></li>
        <li><span class="glyphicon glyphicon-screenshot"></span></li>
        <li><span class="glyphicon glyphicon-remove-circle"></span></li>
        <li><span class="glyphicon glyphicon-ok-circle"></span></li>
        <li><span class="glyphicon glyphicon-ban-circle"></span></li>
        <li><span class="glyphicon glyphicon-arrow-left"></span></li>
        <li><span class="glyphicon glyphicon-arrow-right"></span></li>
        <li><span class="glyphicon glyphicon-arrow-up"></span></li>
        <li><span class="glyphicon glyphicon-arrow-down"></span></li>
        <li><span class="glyphicon glyphicon-share-alt"></span></li>
        <li><span class="glyphicon glyphicon-resize-full"></span></li>
        <li><span class="glyphicon glyphicon-resize-small"></span></li>
        <li><span class="glyphicon glyphicon-exclamation-sign"></span></li>
        <li><span class="glyphicon glyphicon-gift"></span></li>
        <li><span class="glyphicon glyphicon-leaf"></span></li>
        <li><span class="glyphicon glyphicon-fire"></span></li>
        <li><span class="glyphicon glyphicon-eye-open"></span></li>
        <li><span class="glyphicon glyphicon-eye-close"></span></li>
        <li><span class="glyphicon glyphicon-warning-sign"></span></li>
        <li><span class="glyphicon glyphicon-plane"></span></li>
        <li><span class="glyphicon glyphicon-calendar"></span></li>
        <li><span class="glyphicon glyphicon-random"></span></li>
        <li><span class="glyphicon glyphicon-comment"></span></li>
        <li><span class="glyphicon glyphicon-magnet"></span></li>
        <li><span class="glyphicon glyphicon-chevron-up"></span></li>
        <li><span class="glyphicon glyphicon-chevron-down"></span></li>
        <li><span class="glyphicon glyphicon-retweet"></span></li>
        <li><span class="glyphicon glyphicon-shopping-cart"></span></li>
        <li><span class="glyphicon glyphicon-folder-close"></span></li>
        <li><span class="glyphicon glyphicon-folder-open"></span></li>
        <li><span class="glyphicon glyphicon-resize-vertical"></span></li>
        <li><span class="glyphicon glyphicon-resize-horizontal"></span></li>
        <li><span class="glyphicon glyphicon-hdd"></span></li>
        <li><span class="glyphicon glyphicon-bullhorn"></span></li>
        <li><span class="glyphicon glyphicon-bell"></span></li>
        <li><span class="glyphicon glyphicon-certificate"></span></li>
        <li><span class="glyphicon glyphicon-thumbs-up"></span></li>
        <li><span class="glyphicon glyphicon-thumbs-down"></span></li>
        <li><span class="glyphicon glyphicon-hand-right"></span></li>
        <li><span class="glyphicon glyphicon-hand-left"></span></li>
        <li><span class="glyphicon glyphicon-hand-up"></span></li>
        <li><span class="glyphicon glyphicon-hand-down"></span></li>
        <li><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
        <li><span class="glyphicon glyphicon-circle-arrow-left"></span></li>
        <li><span class="glyphicon glyphicon-circle-arrow-up"></span></li>
        <li><span class="glyphicon glyphicon-circle-arrow-down"></span></li>
        <li><span class="glyphicon glyphicon-globe"></span></li>
        <li><span class="glyphicon glyphicon-wrench"></span></li>
        <li><span class="glyphicon glyphicon-tasks"></span></li>
        <li><span class="glyphicon glyphicon-filter"></span></li>
        <li><span class="glyphicon glyphicon-briefcase"></span></li>
        <li><span class="glyphicon glyphicon-fullscreen"></span></li>
        <li><span class="glyphicon glyphicon-dashboard"></span></li>
        <li><span class="glyphicon glyphicon-paperclip"></span></li>
        <li><span class="glyphicon glyphicon-heart-empty"></span></li>
        <li><span class="glyphicon glyphicon-link"></span></li>
        <li><span class="glyphicon glyphicon-phone"></span></li>
        <li><span class="glyphicon glyphicon-pushpin"></span></li>
        <li><span class="glyphicon glyphicon-usd"></span></li>
        <li><span class="glyphicon glyphicon-gbp"></span></li>
        <li><span class="glyphicon glyphicon-sort"></span></li>
        <li><span class="glyphicon glyphicon-sort-by-alphabet"></span></li>
        <li><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></li>
        <li><span class="glyphicon glyphicon-sort-by-order"></span></li>
        <li><span class="glyphicon glyphicon-sort-by-order-alt"></span></li>
        <li><span class="glyphicon glyphicon-sort-by-attributes"></span></li>
        <li><span class="glyphicon glyphicon-sort-by-attributes-alt"></span></li>
        <li><span class="glyphicon glyphicon-unchecked"></span></li>
        <li><span class="glyphicon glyphicon-expand"></span></li>
        <li><span class="glyphicon glyphicon-collapse-down"></span></li>
        <li><span class="glyphicon glyphicon-collapse-up"></span></li>
        <li><span class="glyphicon glyphicon-log-in"></span></li>
        <li><span class="glyphicon glyphicon-flash"></span></li>
        <li><span class="glyphicon glyphicon-log-out"></span></li>
        <li><span class="glyphicon glyphicon-new-window"></span></li>
        <li><span class="glyphicon glyphicon-record"></span></li>
        <li><span class="glyphicon glyphicon-save"></span></li>
        <li><span class="glyphicon glyphicon-open"></span></li>
        <li><span class="glyphicon glyphicon-saved"></span></li>
        <li><span class="glyphicon glyphicon-import"></span></li>
        <li><span class="glyphicon glyphicon-export"></span></li>
        <li><span class="glyphicon glyphicon-send"></span></li>
        <li><span class="glyphicon glyphicon-floppy-disk"></span></li>
        <li><span class="glyphicon glyphicon-floppy-saved"></span></li>
        <li><span class="glyphicon glyphicon-floppy-remove"></span></li>
        <li><span class="glyphicon glyphicon-floppy-save"></span></li>
        <li><span class="glyphicon glyphicon-floppy-open"></span></li>
        <li><span class="glyphicon glyphicon-credit-card"></span></li>
        <li><span class="glyphicon glyphicon-transfer"></span></li>
        <li><span class="glyphicon glyphicon-cutlery"></span></li>
        <li><span class="glyphicon glyphicon-header"></span></li>
        <li><span class="glyphicon glyphicon-compressed"></span></li>
        <li><span class="glyphicon glyphicon-earphone"></span></li>
        <li><span class="glyphicon glyphicon-phone-alt"></span></li>
        <li><span class="glyphicon glyphicon-tower"></span></li>
        <li><span class="glyphicon glyphicon-stats"></span></li>
        <li><span class="glyphicon glyphicon-sd-video"></span></li>
        <li><span class="glyphicon glyphicon-hd-video"></span></li>
        <li><span class="glyphicon glyphicon-subtitles"></span></li>
        <li><span class="glyphicon glyphicon-sound-stereo"></span></li>
        <li><span class="glyphicon glyphicon-sound-dolby"></span></li>
        <li><span class="glyphicon glyphicon-sound-5-1"></span></li>
        <li><span class="glyphicon glyphicon-sound-6-1"></span></li>
        <li><span class="glyphicon glyphicon-sound-7-1"></span></li>
        <li><span class="glyphicon glyphicon-copyright-mark"></span></li>
        <li><span class="glyphicon glyphicon-registration-mark"></span></li>
        <li><span class="glyphicon glyphicon-cloud-download"></span></li>
        <li><span class="glyphicon glyphicon-cloud-upload"></span></li>
        <li><span class="glyphicon glyphicon-tree-conifer"></span></li>
        <li><span class="glyphicon glyphicon-tree-deciduous"></span></li>
    </ul>
</div>
<script type="text/javascript">
    var pan = '<li><a onclick="load(event,this)" href="{:U(CONTROLLER_NAME.'/index')}">{:L('M_'.$Think.CONTROLLER_NAME.'_INDEX')}</a></li>\n\
<li class="active">{:L($Think.ACTION_NAME)}</li>';
    $('#breadcrumbs .breadcrumb li:gt(0)').remove();
    $('#breadcrumbs .breadcrumb').append(pan);
    $('.page-header h1').empty();
    $('.page-header h1').append('{:L('M_'.$Think.CONTROLLER_NAME.'_INDEX')}<small class="glyphicon glyphicon-chevron-right"> {:L($Think.ACTION_NAME)}</small>');
    $('form[role="form"]').validator({
        rules:{
            realname:[/^[\u0391-\uFFE5\w ]+$/, "{:L('JS_INPUT_INFO')}"],
            mremote:function(element,params){
                var pv = $('[name="'+params+'"]').val();
                if(pv==''){
                    return $.ajax({
                        type:'post',
                        url:'{:U('Public/checkAction')}',
                        data:element.name+'='+element.value+'&'+params+'=index',
                        success:function(d){
                            window.console && console.log(d);
                        }
                    });
                }
            }
        },
        fields:{
            'realname[{$Think.LANG_SET}]':'required;realname;length[2~20]',
            model:{
                rule:'required;letters;length[3~20];mremote[action]',
                must:true
            },
            action:'letters;length[3~20];remote[{:U('Public/checkAction')}, model, id]',
            data:'length[~50]',
            remark:'length[~100]'
        },
        valid:function(form){
            $.ajax({
                type: 'POST',
                url: '{:U('Menu/'.ACTION_NAME)}',
                data:$(form).serialize(),
                success: function(data){
                    show_msg(data);
                }
            });
        }
    });
    $('#bootbox-options').on(ace.click_event,function(){
        bootbox.dialog({
            message:$('.icon-all').html()
        });
        $('#icon-all li').click(function(){
            var icocss = $(this).find('span').attr('class');
            $('#bootbox-options span').removeAttr('class').addClass(icocss);
            $('input[name="icon"]').val(icocss);
            $('.bootbox').modal('hide');
            $('#clearico').remove();
            $('#bootbox-options').after('<button id="clearico" class="btn btn-warning btn-sm ml10" type="button">{:L('CLE_ICON')}</button>');
            $('#clearico').click(function(){
                $('#bootbox-options span').attr('class','');
                $('input[name="icon"]').val('');
                $('#clearico').remove();
            });
        });
    });
    $('#clearico').click(function(){
        $('#bootbox-options span').attr('class','');
        $('input[name="icon"]').val('');
        $('#clearico').remove();
    });
</script>
<import type="js" file="js.select"/>