var ITskyLang={
    "DEL_MSG_ONE":{:json_encode(L('DEL_MSG_ONE'))},
    "DEL_MSG_ALL":{:json_encode(L('DEL_MSG_ALL'))},
    "CHECK_MSG":{:json_encode(L('CHECK_MSG'))},
    "DEL_CHECK_MSG_CONFIRM":{:json_encode(L('DEL_CHECK_MSG_CONFIRM'))},
    "REPAIR_CHECK_MSG_CONFIRM":{:json_encode(L('REPAIR_CHECK_MSG_CONFIRM'))},
    "OPTIMIZATION_CHECK_MSG_CONFIRM":{:json_encode(L('OPTIMIZATION_CHECK_MSG_CONFIRM'))},
    "CHECK_CHECK_MSG_CONFIRM":{:json_encode(L('CHECK_CHECK_MSG_CONFIRM'))},
    "ANALYZE_CHECK_MSG_CONFIRM":{:json_encode(L('ANALYZE_CHECK_MSG_CONFIRM'))},
    "STRUCTURE_CHECK_MSG_CONFIRM":{:json_encode(L('STRUCTURE_CHECK_MSG_CONFIRM'))},
    "ORTHER_CHECK_MSG_CONFIRM":{:json_encode(L('ORTHER_CHECK_MSG_CONFIRM'))}

};