<div class="col-xs-6">
    <form class="form-horizontal" role="form">
        <input type="hidden" name="lang" value="{:I('get.lang')?I('get.lang'):($clang?$clang:LANG_SET)}"/>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">{:L('VARNAME')}:</label>
            <div class="col-sm-9">
                <input class="col-xs-9" type="text" name="varname"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">{:L('VARVAL')}:</label>
            <div class="col-sm-9 omrow">
                <input class="col-xs-9" type="text" name="value"/>
            </div>
        </div>
         <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">{:L('VARTYPE')}:</label>
            <div class="col-sm-9">
                <label>
                    <input class="ace" type="radio" name="type" value="string" checked="checked"/>
                    <span class="lbl">{:L('STRING')}</span>
                </label>
                <label>
                    <input class="ace" type="radio" name="type" value="number"/>
                    <span class="lbl">{:L('NUMBER')}</span>
                </label>
                <label>
                    <input class="ace" type="radio" name="type" value="bool"/>
                    <span class="lbl">{:L('BOOL')}</span>
                </label>
                <label>
                    <input class="ace mrow" type="radio" name="type" value="text"/>
                    <span class="lbl">{:L('TEXT')}</span>
                </label>
                <br/>
                <label>
                    <input class="ace mrow" type="radio" name="type" value="select"/>
                    <span class="lbl">{:L('SELECT')}</span>
                </label>
                <label>
                    <input class="ace mrow" type="radio" name="type" value="radio"/>
                    <span class="lbl">{:L('RADIO')}</span>
                </label>
                <label>
                    <input class="ace mrow" type="radio" name="type" value="checkbox"/>
                    <span class="lbl">{:L('CHECKBOX')}</span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">{:L('VARINFO')}:</label>
            <div class="col-sm-9">
                <input class="col-xs-9" type="text" name="info" placeholder="{:I('get.lang')?I('get.lang'):($clang?$clang:LANG_SET)}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">{:L('GROUP')}:</label>
            <div class="col-sm-9">
                <div class="input-group col-xs-9 select-click">
                    <input class="hide" type="text" name="groupid" value=""/>
                    <div class="form-control select-input cude"></div>
                    <span class="input-group-addon cude">
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </span>
                </div>
                <div class="col-xs-9">
                    <div class="select-choices">
                        <ul class="list-unstyled select-option" data-name="groupid">
                            <li data-val="" class="text-muted">{:L('SELECT_INFO')}</li>
                            <foreach name="group" item="vo" key="k">
                            <li data-val="{$k+1}">{:L($vo['name'])}</li>
                            </foreach>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-info" type="submit"><i class="glyphicon glyphicon-ok"></i>{:L('SUBMIT')}</button>
                <button class="btn" type="reset"><i class="glyphicon glyphicon-repeat"></i>{:L('RESET')}</button>
            </div>
        </div>
    </form>
</div>
{$langs}
<script type="text/javascript">
    var pan = '<li><a onclick="load(event,this)" href="{:U(CONTROLLER_NAME.'/index',$vl)}">{:L('M_SITECONFIG_INDEX')}</a></li>\n\
<li class="active">{:L('M_'.$Think.CONTROLLER_NAME.'_'.$Think.ACTION_NAME)}</li>';
    $('#breadcrumbs .breadcrumb li:gt(0)').remove();
    $('#breadcrumbs .breadcrumb').append(pan);
    $('#sidebar .nav-list li.active').removeClass('active');
    $('#sidebar .nav-list li.open .submenu').hide();
    $('#sidebar .nav-list li.open').removeClass('open');
    $('a[href="{:U(CONTROLLER_NAME.'/'.ACTION_NAME,$vl)}"]').parent().addClass('active').parent().show().parent().addClass('open active').parent().show().parent().addClass('open active');
    $('.page-header h1').empty();
    $('.page-header h1').append('{:L('M_SITECONFIG_INDEX')}<small class="glyphicon glyphicon-chevron-right"> {:L('M_'.$Think.CONTROLLER_NAME.'_'.$Think.ACTION_NAME)}</small>');
    $('input[name="type"]').click(function(){
        if($(this).hasClass('mrow')){
            $('.omrow').html('<textarea class="col-xs-9 minh80" name="value"></textarea>');
        }else{
            $('.omrow').html('<input class="col-xs-9" type="text" name="value"/>');
        }
    });
    $('form[role="form"]').validator({
        fields:{
            varname:'required;username;remote[{:U('Check/varname',$vl)}, lang]',
            info:'required;length[2~30]',
            groupid:{
                rule:'required',
                msgStyle:'position:relative;left:40px;'
            }
        },
        valid:function(form){
            $.ajax({
                type: 'POST',
                url: '{:U('Siteset/addvar',$vl)}',
                data:$(form).serialize(),
                success: function(data){
                    show_msg(data);
                }
            });
        }
    });
</script>
<import type="js" file="js.select"/>