<div class="col-xs-6">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">变量名称:</label>
            <div class="col-sm-9">
                <input class="col-xs-9" type="text" name="varname"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">变量值:</label>
            <div class="col-sm-9">
                <input class="col-xs-9" type="text" name="value" placeholder="{$Think.LANG_SET}"/>
            </div>
        </div>
         <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">变量类型:</label>
            <div class="col-sm-9">
                <label>
                    <input class="ace" type="radio" name="type" value="string" checked="checked"/>
                    <span class="lbl">字符串</span>
                </label>
                <label>
                    <input class="ace" type="radio" name="type" value="number"/>
                    <span class="lbl">数字</span>
                </label>
                <label>
                    <input class="ace" type="radio" name="type" value="bool"/>
                    <span class="lbl">布尔(Y/N)</span>
                </label>
                <label>
                    <input class="ace" type="radio" name="type" value="text"/>
                    <span class="lbl">多行文本</span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">参数说明:</label>
            <div class="col-sm-9">
                <input class="col-xs-9" type="text" name="info"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">所属组:</label>
            <div class="col-sm-9">
                <div class="input-group col-xs-9 select-click">
                    <input type="hidden" name="groupid" value=""/>
                    <div class="form-control select-input cude"></div>
                    <span class="input-group-addon cude">
                        <i class="glyphicon glyphicon-chevron-down"></i>
                    </span>
                </div>
                <div class="col-xs-9">
                    <div class="select-choices">
                        <ul class="list-unstyled select-option" data-name="groupid">
                            <li data-val="">请选择一项...</li>
                            <li data-val="1">电影</li>
                            <li data-val="2">游戏</li>
                            <li data-val="3">阅读</li>
                            <li data-val="4">KTV</li>
                            <li data-val="5">旅游</li>
                            <li data-val="6">运动</li>
                            <li data-val="7">宅</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-info" type="submit"><i class="glyphicon glyphicon-ok"></i>保存</button>
                <button class="btn" type="reset"><i class="glyphicon glyphicon-repeat"></i>重置</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    var pan = '<li><a onclick="load(event,this)" href="{:U(CONTROLLER_NAME.'/index')}">{:L('M_SITECONFIG_INDEX')}</a></li>\n\
<li class="active">{:L('M_'.$Think.CONTROLLER_NAME.'_'.$Think.ACTION_NAME)}</li>';
    $('#breadcrumbs .breadcrumb li:gt(0)').remove();
    $('#breadcrumbs .breadcrumb').append(pan);
    $('#sidebar .nav-list li.active').removeClass('active');
    $('#sidebar .nav-list li.open .submenu').hide();
    $('#sidebar .nav-list li.open').removeClass('open');
    $('a[href="{:U(CONTROLLER_NAME.'/'.ACTION_NAME)}"]').parent().addClass('active').parent().show().parent().addClass('open active').parent().show().parent().addClass('open active');
    $('.page-header h1').empty();
    $('.page-header h1').append('{:L('M_SITECONFIG_INDEX')}<small class="glyphicon glyphicon-chevron-right"> {:L('M_'.$Think.CONTROLLER_NAME.'_'.$Think.ACTION_NAME)}</small>');
</script>
<import type="js" file="js.select"/>