<div class="col-lg-6">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-lg-3 control-label no-padding-right">{:L('PID')}:</label>
            <div class="col-lg-9">
                <input class="col-lg-6" type="text" name="pid" value="{$vo.pid}"/>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    var pan = '<li><a onclick="load(event,this)" href="{:U(CONTROLLER_NAME.'/index',$vl)}">{:L('M_'.$Think.CONTROLLER_NAME.'_INDEX')}</a></li>\n\
<li class="active">{:L($Think.ACTION_NAME)}</li>';
    $('#breadcrumbs .breadcrumb li:gt(0)').remove();
    $('#breadcrumbs .breadcrumb').append(pan);
    $('.page-header h1').empty();
    $('.page-header h1').append('{:L('M_'.$Think.CONTROLLER_NAME.'_INDEX')}<small class="glyphicon glyphicon-menu-right"> {:L($Think.ACTION_NAME)}</small>');
    $('form[role="form"]').validator({
        valid:function(form){
            $.ajax({
                type: 'POST',
                url: '{:U('Type/'.ACTION_NAME,$vl)}',
                data:$(form).serialize(),
                success: function(data){
                    show_msg(data);
                }
            });
        }
    });
</script>